services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - 80:80/tcp
      - 443:443/tcp
    environment:
      TZ: ${TZ:-UTC}
    volumes:
      - /opt/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /opt/nginx/conf.d:/etc/nginx/conf.d:ro
      - /opt/nginx/site:/var/www/html/site
      - /opt/nginx/certbot/www:/var/www/certbot:ro
      - /opt/nginx/certbot/conf:/etc/nginx/ssl:ro
    restart: unless-stopped
    cap_add:
      - NET_BIND_SERVICE
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    networks:
      - proxy
networks:
  proxy:
    external: true